@font-face {
  font-family: 'Motiva-sans';
  src: url('../public/fonts/MotivaSansRegular.woff.ttf') format('truetype');
}

@font-face {
  font-family: 'Motiva-sans';
  font-weight: 300;
  src: url('../public/fonts/MotivaSansThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Motiva-sans';
  font-weight: 500;
  src: url('../public/fonts/MotivaSansBold.woff.ttf') format('truetype');
}

* {
  font-family: 'Motiva-sans';
  box-sizing: border-box;
}

html {
  overflow: scroll;
}

html,
body {
  height: auto;
  overflow: hidden;

  overflow-y: auto;
}

body {
  width: 100%;
  overflow: auto;

  @media (max-width: 970px) {
    overflow-x: scroll;
  }
}

iframe {
  display: none;
}

.swiper-button-next {
  transform: rotate(180deg);
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%), url("https://res.cloudinary.com/didkbrlcz/image/upload/v1693038057/System/arrow_qfxjae.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 108px;
  width: 45px;
  top: 45%;
}

.swiper-button-next::after {
  opacity: 0;
}

.swiper-button-prev::after {
  opacity: 0;
}

.swiper-button-prev {
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%), url("https://res.cloudinary.com/didkbrlcz/image/upload/v1693038057/System/arrow_qfxjae.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 108px;
  width: 45px;
  top: 45%;
}

.swiper-button-next:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%), url("https://res.cloudinary.com/didkbrlcz/image/upload/v1693038057/System/arrow_qfxjae.png");
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%), url("https://res.cloudinary.com/didkbrlcz/image/upload/v1693038057/System/arrow_qfxjae.png");
  background-repeat: no-repeat;
  background-position: center;
}